/* You can add global styles to this file, and also import other style files */



.form-control{
  display: block;
  width: 100%;
  border: solid 1px #e5e5e5;
  padding-left: 10px;
  font-size: 16px;
  // margin-bottom: 20px;
}
input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search-md], input[type=search]{
  border: 1px solid #e5e5e5 !important;
  height: 1.5rem;
  
}
input:focus{
  border: 1px solid #7f7f7f !important;

  // border-bottom: solid 1px #e5e5e5 !important;
    box-shadow: none !important;
}
.form-control:focus {
  border: 1px solid #7f7f7f;
}

.input-group {
  margin-bottom: 15px;
}

@import "assets/scss/font-awesome/font-awesome";
@import "assets/variables";
// ----------fonts-------------
$font-family-base: "Open Sans",
sans-serif !default;
body {
  font-family: "Open Sans" !important;
  font-weight: 400 !important;
}

h1,
h2,
button {
  font-family: "Open Sans" !important;
}

// ----------font Awesome-------------
@font-face {
  font-family: 'FontAwesome';
  src: url('assets/fonts/font-awesome/fontawesome-webfont.eot');
  src: url('assets/fonts/font-awesome/fontawesome-webfont.eot') format('embedded-opentype'), url('assets/fonts/font-awesome/fontawesome-webfont.woff2') format('woff2'), url('assets/fonts/font-awesome/fontawesome-webfont.woff') format('woff'), url('assets/fonts/font-awesome/fontawesome-webfont.ttf') format('truetype'), url('assets/fonts/font-awesome/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
