<div class="nav">
  <div class="top-bar">
    <div class="tbar-menu">
      <h6 class="tbar-heading">
        <strong>Welcome To Ideal Bazar Collection</strong>
      </h6>
      <ul>
        <li>
          <a routerLink="/account" *ngIf="auth.loggedIn">Account ({{auth.currentUser.username}})</a>
        </li>
        <li>
          <a routerLink="/cart">Cart</a>
        </li>
        <li>
          <a routerLink="/login" *ngIf="!auth.loggedIn">Login</a>
        </li>
        <li>
          <a routerLink="/register" *ngIf="!auth.loggedIn">Register</a>
        </li>
        <li>
          <a routerLink="/admin" *ngIf="auth.loggedIn && auth.isAdmin">Admin</a>
        </li>
        <li>
          <a routerLink="/logout" *ngIf="auth.loggedIn">Logout</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="mid-bar">
    <div class="form">
      <span class="pull-left">
        <img src="../../assets/images/ideal.png">
      </span>
      <input type="search-md" class="form-control" placeholder="Search Entire Store Here">
    </div>

    <div class="cart-align">
      <a>
        <i class="fa fa-shopping-cart fa-lg"></i>
        <h6 class="">
          <strong>{{cartProducts.length}} Items</strong> - Rs.4,500/-</h6>
      </a>

    </div>
  </div>

  <div class="bottom-bar">
    <div class="main-menu">

      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" routerLink="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" routerLink="/men">MEN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" routerLink="/women">WOMEN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" routerLink="/faq">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" routerLink="/contact">CONTACT US</a>
        </li>
      </ul>
    </div>
  </div>
</div>
