<ngb-carousel>
  <ng-template ngbSlide>
    <img src="./././assets/images/men.jpg" alt="Random first slide" width="1366" height="500">
    <div class="carousel-caption">
      <h3>10 seconds between slides...</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="./././assets/images/women1.jpg"  alt="Random second slide" width="1366" height="500">
    <div class="carousel-caption">
      <h3>No keyboard...</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="./././assets/images/men2.jpg" alt="Random third slide" width="1366" height="500">
    <div class="carousel-caption">
      <h3>And no wrap after last slide.</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="./././assets/images/women2.jpg" alt="Random third slide" width="1366" height="500">
    <div class="carousel-caption">
      <h3>And no wrap after last slide.</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="./././assets/images/women3.jpg" alt="Random third slide" width="1366" height="500">
    <div class="carousel-caption">
      <h3>And no wrap after last slide.</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
</ngb-carousel>