<app-toast [message]="toast.message"></app-toast>

<!-- <div class="card">
  <h4 class="card-header">Register</h4>
  <div class="card-block">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="input-group" [ngClass]="setClassUsername()">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input class="form-control" type="text" name="username" formControlName="username" placeholder="Username" autofocus>
      </div>
      <div class="input-group" [ngClass]="setClassEmail()">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <input class="form-control" type="email" name="email" formControlName="email" placeholder="Email">
      </div>
      <div class="input-group" [ngClass]="setClassPassword()">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input class="form-control" type="password" name="password" formControlName="password" placeholder="Password">
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-black-tie"></i></span>
        <select class="form-control" name="role" formControlName="role">
          <option value="" selected disabled>Role</option>
          <option value="user">User</option>
          <option value="admin">Admin</option>
        </select>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid"><i class="fa fa-user-plus"></i> Register</button>
    </form>
  </div>
</div> -->

<div class="back-image">
  <div class="signup">
    <div class="heading">
      <h1 class="text-center">SIGN UP</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <h4>CREATE FREE ACCOUNT BY SIMPLY FILLING THESE FIELDS</h4>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="col-sm-6" [ngClass]="setClassFirstname()">
        <input class="form-control" type="text" name="fname" formControlName="fname" placeholder="First Name">
      </div>
      <div class="col-sm-6" [ngClass]="setClassLastname()">
        <input class="form-control" type="text" name="lname" formControlName="lname" placeholder="Last Name">
      </div>
      <br>
      <br>
      <div class="col-sm-12">
        <select class="form-control gender" name="gender" formControlName="gender">
          <option value="" selected disabled>Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
      <br>
      <br>
      <div class="col-sm-6" [ngClass]="setClassUsername()">
        <input class="form-control" type="text" name="username" formControlName="username" placeholder="Username">
      </div>
      <div class="col-sm-6" [ngClass]="setClassEmail()">
        <input class="form-control" type="email" name="email" formControlName="email" placeholder="Email" #email>
      </div>
      <br>
      <br>
      <div class="col-sm-6" [ngClass]="setClassPassword()">
        <input class="form-control" type="password" name="password" formControlName="password" placeholder="Password">
      </div>
      <div class="col-sm-6" [ngClass]="setClassConfirmPassword()">
        <input class="form-control" type="password" placeholder="Confirm Password" formControlName="confirmPassword" #confirmPassword>
        <span *ngIf="!confirmPassword.pristine && confirmPassword.errors != null && confirmPassword.errors['passwordsNotMatch']">Passwords do not match</span>
      </div>
      <!-- <br>
      <br>
      <div class="col-sm-12">
        <select class="form-control" name="role" formControlName="role">
          <option value="" selected disabled>Role</option>
          <option value="user">User</option>
          <option value="admin">Admin</option>
        </select>
      </div> -->
      <br> 
      <br>
      <br>
      <div class="col-sm-12">
        <span>
          <input type="checkbox"> &nbsp; I want to recieve Ideal Bazar's Newsletter and SMS with best deals and offers.</span>
        <span class="pull-right">All Fields Are Required *</span>
      </div>
      <br>
      <br>
      <div class="col-sm-12">
        <div class="col-sm-5"></div>
        <div class="col-sm-2">
          <button class="btn btn-submit" type="submit" [disabled]="!registerForm.valid">SIGN UP</button>
        </div>
        <div class="col-sm-5"></div>
      </div>
    </form>
  </div>
</div>
