<!-- <div class="card ">
  <h4 class="card-header">Login</h4>
  <div class="card-block">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="input-group" [ngClass]="setClassEmail()">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <input class="form-control" type="email" name="email" formControlName="email" placeholder="Email" autofocus>
      </div>
      <div class="input-group" [ngClass]="setClassPassword()">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input class="form-control" type="password" name="password" formControlName="password" placeholder="Password">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid"><i class="fa fa-sign-in"></i> Login</button>
    </form>
  </div>
</div> -->

<div class="back-image">
  <div class="login">
    <div class="heading">
      <h1 class="text-center">LOGIN</h1>
    </div>
  </div>
</div>

<app-toast [message]="toast.message"></app-toast>

<div class="row">
  <div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <div class="col-sm-12">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" [ngClass]="setClassEmail()">
          <input class="form-control" type="email" name="email" formControlName="email" placeholder="Email" autofocus>
          <div class="col-sm-4"></div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" [ngClass]="setClassPassword()">
          <input class="form-control" type="password" name="password" formControlName="password" placeholder="Password">
          <div class="col-sm-4"></div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="col-sm-5"></div>
        <div class="col-sm-2">
          <button class="btn btn-login" type="submit" [disabled]="!loginForm.valid">LOGIN</button>
        </div>
        <div class="col-sm-5"></div>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <button class="btn btn-fb">
            <i class="fa fa-lg fa-facebook pull-left"></i>
            <span class="text-center"> LOGIN WITH FACEBOOK </span>
          </button>
        </div>
        <div class="col-sm-4"></div>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <button class="btn btn-google">
            <i class="fa fa-lg fa-google pull-left"></i>
            <span class="text-center"> LOGIN WITH GOOGLE </span>
          </button>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </form>
  </div>
</div>
